<!DOCTYPE html>
<html>
<head> <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></head>
<body>
	<h1>Welcome,admin</h1>
	<h2>Post the review down here</h2>
	<form action='review' method='POST'>
		Title<input type='text' name='title'><br>
		Rewiew<textarea name="review"></textarea><br>
		<input type="submit" value='review'>
		</form>
		</body>
		</html>  
