<html>
<head> <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></head>
<body>
	<h1 align='center'>All the links to  movie reviews are here</h1>
<table border="1" cellpadding="5" cellspacing="5" align='center'>
{% for row in data %}
    <tr>
    {% for d in row %}
        <td style="cursor:pointer" onclick="location.href='{{d}}'">{{d}}</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
<br>
</body>
</html>